<head>

</head>
<div class="container">
  <section id="directives-calendar" ng-controller="businessScheduleCtrl">

    <div class="well">
      <div class="row-fluid">
        <div class="span4">
          <div class="btn-group calTools">
            <button type="button" class="btn btn-primary" ng-click="addEvent()">
              Add Event
            </button>
          </div>

          <!--<ul class="unstyled">
                            <li ng-repeat="e in events">
                                <div class="alert alert-info">
                                    <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
                                    <b> <input ng-model="e.title"></b>
                                    {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
                                </div>
                            </li>
                        </ul>-->

        </div>

        <div class="span8">
          <tabset>
            <tab select="renderCalender('myCalendar1');">
              <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                <h4>{{alertMessage}}</h4>
              </div>
              <div class="btn-toolbar">
                <div class="btn-group">
                  <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
                  <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
                  <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>
                </div>
              </div>
              <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
            </tab>

          </tabset>
        </div>
      </div>
    </div>


    <footer-dir></footer-dir>
