<div class="span8">
    <tabset>
        <tab select="renderCalender('myCalendar1');">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-success" ng-click="changeView('agendaDay', 'calendar')">AgendaDay</button>
                    <button class="btn btn-success" ng-click="changeView('agendaWeek', 'calendar')">AgendaWeek</button>
                    <button class="btn btn-success" ng-click="changeView('month', 'calendar')">Month</button>
                    <a class="btn btn-success pull-left" href = '#addApp' modal>Add Appointment</a>
                </div>
            </div>
            <div class="calendar" ng-model="eventSources" calendar="calendar" ui-calendar="uiConfig.calendar"></div>
        </tab>
    </tabset>
</div>

                
<div id="addApp" class="modal">
    <div class="modal-content">
        <h4>Schedule Appointment</h4>
        <input type="text" ng-model='app.customerName' placeholder='name'>
        <input type="text" ng-model='app.customerNumber' placeholder="number">
        <input type="text" ng-model='app.price'>
        <input type="text" ng-model='app.title' placeholder="service">
        <input type="text" ng-model='app.note' placeholder="note">
        <input type="text" ng-model='app.start' placeholder='start'>
        <input type="text" ng-model='app.end' placeholder = 'end'>
    </div>
</div>


    <footer-dir></footer-dir>

