<nav-template></nav-template>
<search-bar class="search-bar-search center-align"></search-bar>
<div class="row business-display-search">
  <div class="s10 offset-s1 col" style="min-height: 100%">
    <div class="row">
      <div class="col s12 m6 l3" ng-repeat="b in businesses | filter: {category: searchCriteria.type, businessName: searchCriteria.text}">
        <business-preview></business-preview>
      </div>
    </div>
  </div>

  <h1 class="no-business" ng-if="!b">No Businesses Found</h1>
</div>

<footer-dir></footer-dir>
