<!-- HEADER -->
<nav-template></nav-template>

<div ng-model="bProfile" class="business-page-content-one">
  <div class="business-page-content-one-one">

    <!-- NAME -->
    <div class="business-profile-name">{{bProfile.businessName}} ({{bProfile.category}})</div>
    <!-- PICTURE EVENTUALLY -->
    <!-- <img class="business-picture z-depth-1" materialboxed class="materialboxed" data-caption="Our Shop" width="250" src="{{bProfile.picture}}"> -->

    <!-- PICTURE HARD CODED-->
    <img class="business-picture z-depth-1" materialboxed class="materialboxed" data-caption="Our Shop" width="250" src="http://beauty.takarabelmont.com/content/images/uploads/design-portfolio/Franks%20Barbershop/Franks%20Barber%20Shop-3.jpg">
    <!-- MINI PICTURES EVENTUALLY-->
    <!-- <div class="mini-pictures-business" ng-repeat="pic in pictures">
      <img class="mini-picture-business" materialboxed class="materialboxed" data-caption="{{pic.caption}}" width="250" src="{{pic.source}}">
    </div> -->

    <!-- MINI PICTURES HARD CODED -->
    <div class="mini-pictures-business">
      <img class="mini-picture-business" materialboxed class="materialboxed" data-caption="Our Shop" width="250" src="http://beauty.takarabelmont.com/content/images/uploads/design-portfolio/Franks%20Barbershop/Franks%20Barber%20Shop-3.jpg">
      <img class="mini-picture-business" materialboxed class="materialboxed" data-caption="Our Shop" width="250" src="http://beauty.takarabelmont.com/content/images/uploads/design-portfolio/Franks%20Barbershop/Franks%20Barber%20Shop-3.jpg">
      <img class="mini-picture-business" materialboxed class="materialboxed" data-caption="Our Shop" width="250" src="http://beauty.takarabelmont.com/content/images/uploads/design-portfolio/Franks%20Barbershop/Franks%20Barber%20Shop-3.jpg">
    </div>
    <!-- INFORMATION -->
    <ul class="collapsible business-info" data-collapsible="expandable">
      <li>
        <div class="collapsible-header active business-info-header center-align">Information</div>
        <div class="collapsible-body business-about grey lighten-5 center-align">
          <p>{{bProfile.about}}</p>
        </div>
      </li>
      <li>
        <div class="collapsible-header center-align grey lighten-5">Hide details</div>
        <div class="collapsible-body grey lighten-5 information-body">
          <div class="information-body-one">
            <h6><u>Address</u></h6>
            <p>{{bProfile.address.street}} {{bProfile.address.suite}}</p>
            <p>{{bProfile.address.city}}, {{bProfile.address.state}} {{bProfile.address.zip}}</p>
            <h6><u>Contact Info</u></h6>
            <p>{{bProfile.phone}}</p>
            <p>{{bProfile.email}}</p>
          </div>
          <div class="information-body-two">
            <h6><u>Hours</u></h6>
            <p>Monday: {{bProfile.scheduleParams.monday.open}} to {{bProfile.scheduleParams.monday.closed}}</p>
            <p>Tuesday: {{bProfile.scheduleParams.tuesday.open}} to {{bProfile.scheduleParams.tuesday.closed}}</p>
            <p>Wednesday: {{bProfile.scheduleParams.wednesday.open}} to {{bProfile.scheduleParams.wednesday.closed}}</p>
            <p>Thursday: {{bProfile.scheduleParams.thursday.open}} to {{bProfile.scheduleParams.thursday.closed}}</p>
            <p>Friday: {{bProfile.scheduleParams.friday.open}} to {{bProfile.scheduleParams.friday.closed}}</p>
            <p>Saturday: {{bProfile.scheduleParams.saturday.open}} to {{bProfile.scheduleParams.saturday.closed}}</p>
            <p>Sunday: {{bProfile.scheduleParams.sunday.open}} to {{bProfile.scheduleParams.sunday.closed}}</p>
          </div>
        </div>
      </li>
    </ul>
    <!-- MAP -->
    <leaflet class="leaflet-business z-depth-1" defaults="defaults" center="center" markers="markers" event-broadcast="events"></leaflet>
    <a href="http://www.google.com/maps/place/{{bProfile.location[0]}},{{bProfile.location[1]}}">
      <button class="btn black get-directions">Get Directions</button>
    </a>
  </div>

  <div class="business-page-content-one-two">
    <!-- MAKE APPOINTMENT -->
    <div class="selecting-appointment-header center-align">Make Appointment</div>

    <ul class="collapsible popout selecting-appointment" data-collapsible="accordion" watch>
      <li>
        <div class="collapsible-header active">
          <i class="mdi-action-face-unlock"></i>Select Service
        </div>
        <div class="collapsible-body services-repeat" ng-repeat="b in bProfile.services">
          <div class="b-name">{{b.name}}</div>
          <div class="b-price">{{b.price}}</div>
          <div class="b-select">
            <button>Select</button>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="mdi-action-event"></i>Select Date
        </div>
        <div class="collapsible-body">
          <input type="date" placeholder="Click here" class="datepicker">
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="mdi-action-query-builder"></i>Select Time
        </div>
        <div class="collapsible-body">
          
          <div class="timeSelector">
    <a class='dropdown-button btn searchButton' href='javascript:void(0);' data-activates='timeDropDown' dropdown data-hover="false">
    Click here
    </a>
    <select id="timeDropDown">
      <option value="09:00">9:00 AM</option>
      <option value="09:15">9:15 AM</option>
      <option value="09:30">9:30 AM</option>
      <option value="09:45">9:45 AM</option>
      <option value="10:00">9:00 AM</option>
      <option value="10:15">10:15 AM</option>
      <option value="10:30">10:30 AM</option>
      <option value="10:45">10:45 AM</option>
      <option value="11:00">11:00 AM</option>
      <option value="11:15">11:15 AM</option>
      <option value="11:30">11:30 AM</option>
      <option value="11:45">11:45 AM</option>
      <option value="12:00">12:00 PM</option>
      <option value="12:15">12:15 PM</option>
      <option value="12:30">12:30 PM</option>
      <option value="12:45">12:45 PM</option>
      <option value="13:00">1:00 PM</option>
      <option value="13:15">1:15 PM</option>
      <option value="13:30">1:30 PM</option>
      <option value="13:45">1:45 PM</option>
      <option value="14:00">2:00 PM</option>
      <option value="14:15">2:15 PM</option>
      <option value="14:30">2:30 PM</option>
      <option value="14:45">2:45 PM</option>
      <option value="15:00">3:00 PM</option>
      <option value="15:15">3:15 PM</option>
      <option value="15;30">3:30 PM</option>
      <option value="15:45">3:45 PM</option>
      <option value="16:00">4:00 PM</option>
      <option value="16:15">4:15 PM</option>
      <option value="16:30">4:30 PM</option>
      <option value="16:45">4:45 PM</option>
      <option value="17:00">5:00 PM</option>
      <option value="17:15">5:15 PM</option>
      <option value="17:30">5:30 PM</option>
      <option value="17:45">5:45 PM</option>
      <option value="18:00">6:00 PM</option>
      <option value="18:15">6:15 PM</option>
      <option value="18:30">6:30 PM</option>
      <option value="18:45">6:45 PM</option>
      <option value="19:00">7:00 PM</option>
      <option value="19:15">7:15 PM</option>
      <option value="19:30">7:30 PM</option>
      <option value="19:45">7:45 PM</option>
      <option value="20:00">8:00 PM</option>
      <option value="20:15">8:15 PM</option>
      <option value="20:30">8:30 PM</option>
      <option value="20:45">8:45 PM</option>
      <option value="21:00">9:00 PM</option>
      <option value="21:15">9:15 PM</option>
      <option value="21:30">9:30 PM</option>
      <option value="21:45">9:45 PM</option>
      <option value="22:00">10:00 PM</option>
    </select>
  </div>
          
          
        </div>
      </li>
    </ul>


  </div>
</div>

<footer-dir></footer-dir>
