<div class="navBar" ng-controller='navbarCtrl'>
  <nav class='black'>
    <div class="nav-wrapper-container">
      <a href="#/home" class="brand-logo navBarLogo">Open Chair</a>
      <!--Dropdown Trigger -->
      <ul class='right'>
        <li style="margin-right: 20px">
          {{customerName}}
        </li>
        <li>
          <a href="#/home">Home</a>
        </li>
        <li>
          <a href="#/search">Search</a>
        </li>
        <li ng-if="user">
          <a href="#/user/{{user._id}}">User</a>
        </li>
        <li ng-if="business">
          <a href="#/business/{{business._id}}">Profile</a>
        </li>
        <li ng-if="business">
          <a href="#/businessDash">Dash</a>
        </li>
        <li ng-if="user">
          <a href = '/logout'>logout</a>
        </li>
        <li ng-if="!user">
          <a class='dropdown-button' href='javascript:void(0)' data-activates='loginDropdown' dropdown>
            Login
          </a>
          <!-- Dropdown Structure -->
          <ul id='loginDropdown' class='dropdown-content'>
            <li>
              <!-- Modal Trigger -->
              <div class='col'>
                <a class='grey' href='#userLoginModal' modal>User</a>
              </div>

            </li>

            <li class="divider black"></li>

            <li>
              <!-- Modal Trigger -->
              <div class="col">
                <a class='grey' href='#businessLoginModal' modal>Business</a>
              </div>

            </li>
          </ul>
        </li>

        <li ng-if="!user">
          <!-- Dropdown Trigger -->
          <a class='dropdown-button' href='javascript:void(0)' data-activates='registerDropdown' dropdown>
            Register
          </a>

          <!-- Dropdown Structure -->
          <ul id='registerDropdown' class='dropdown-content'>
            <li>
              <!-- Modal Trigger -->
              <div class="col">
                <a class='grey' href='#registerUserModal' modal>User</a>
              </div>
            </li>

            <li class="divider black"></li>

            <li>
              <!-- Modal Trigger -->
              <div class="col">
                <a class='grey' href='#registerBusinessModal' modal>Business</a>
              </div>

            </li>
          </ul>
        </li>
      </ul>
      <!-- Modal Structure -->
      <form id="userLoginModal" class="modal" ng-submit="loginUserSubmit(loginUser)">
        <div class="modal-content">
          <h4>User Login</h4>
          <input placeholder='email' ng-model='loginUser.email' type="email">
          <input placeholder='password' ng-model='loginUser.password' type="password">
        </div>
        <div class="modal-footer">
          <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Submit<i class="material-icons right">send</i></button>
        </div>
      </form>
      <!-- Modal Structure -->
      <form id="businessLoginModal" class="modal" ng-submit="loginBusinessSubmit(login)">
        <div class="modal-content">
          <h4>Business Login</h4>
          <input placeholder='email' ng-model='login.email' type="email">
          <input placeholder='password' ng-model='login.password' type="password">
        </div>
        <div class="modal-footer">
          <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Submit<i class="material-icons right">send</i></button>
        </div>
      </form>
      <!-- Modal Structure -->
      <form id="registerUserModal" class="modal" ng-submit="submitNewUser(User)">
        <div class="modal-content">
          <h4>User Registration</h4>
          <input ng-model='User.name.first' placeholder='first' type="text">
          <input ng-model='User.name.last' placeholder='last' type="text">
          <input ng-model='User.email' placeholder='email' type="email">
          <input ng-model='User.password' placeholder='password' type="password">
          <input ng-model='User.phone' placeholder='phone' type="number">
          <input ng-model='User.address.street' placeholder='street' type="text">
          <input ng-model='User.address.aptSuite' placeholder='suite/apt' type="text">
          <input ng-model='User.address.city' placeholder='city' type="text">
          <input ng-model='User.address.state' placeholder='state' type="text">
          <input ng-model='User.address.zip' placeholder='zip' type="number">
        </div>
        <div class="modal-footer">
          <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Submit<i class="material-icons right">send</i></button>
        </div>
      </form>
      <!-- Modal Structure -->
      <form id="registerBusinessModal" class="modal" ng-submit="submitNewBusiness(Business)">
        <div class="modal-content">
          <h4>Business Registration</h4>
          <input ng-model='Business.businessName' placeholder='Business Name' type="text">
          <input ng-model='Business.address.street' placeholder='street' type="text">
          <input ng-model='Business.address.suite' placeholder='suite' type="text">
          <input ng-model='Business.address.city' placeholder='city' type="text">
          <input ng-model='Business.address.state' placeholder='state' type="text">
          <input ng-model='Business.address.zip' placeholder='zip' type="number">
          <input ng-model='Business.phone' placeholder='phone' type="text">
          <input ng-model='Business.email' placeholder='Admin email' type="email">
          <input ng-model='Business.password' placeholder='Admin password' type="password">
<!--
          <a class='dropdown-button btn searchButton' class="businessSelector" href='javascript:void(0);' data-activates='businessDropdown' dropdown data-hover="false">
          Category
          </a>

-->
          <select id='businessDropdown' ng-model='Business.category' material-select>
            <option>Select Category</option>
            <option><a href="javascript:void(0);">Hair Salon</a></option>
            <option><a href="javascript:void(0);">Nail Salon</a></option>
            <option><a href="javascript:void(0);">Spa</a></option>
            <option><a href="javascript:void(0);">Masseuse</a></option>
            <option><a href="javascript:void(0);">Barber</a></option>
          </select>
        </div>
        <div class="modal-footer">
          <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Submit<i class="material-icons right">send</i></button>
        </div>
      </form>
    </div>
  </nav>
</div>
