.business-page-content-one {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  .business-page-content-one-one {
    width: 950px;
    height: auto;
    .business-profile-name {
      position: relative;
      font-size: 48px;
    }
    .business-picture {
      width: 100%;
      height: auto;
      position: relative;
      top: 0;
      left: 0;
    }
    .mini-pictures-business {
      position: relative;
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: space-around;
      .mini-picture-business {
        flex: 1;
        margin: 10px;
        width: 250px;
        height: auto;
      }
    }
    .business-info-header {
      width: 100%;
      height: 50px;
      position: relative;
      top: 0;
      left: 0;
      background-color: black;
      color: white;
      font-size: 35px;
    }
    .business-info {
      width: 100%;
      height: auto;
      position: relative;
      top: 0;
      left: 0;
      .business-about {
        width: 100%;
        height: 100px;
        .business-description {
          width: 80%;
          height: auto;
          position: relative;
        }
        .business-info-expandable {
          width: 100%;
          height: 75px;
          position: relative;
        }
      }
    }
    .leaflet-business {
      width: 100%;
      height: 300px;
      position: relative;
    }
  }

  .business-page-content-one-two {
    width: 700px;
    height: auto;
    .selecting-appointment-header {
      position: relative;
      top: 75px;
      left: 0;
      width: 100%;
      height: 75px;
      background-color: black;
      color: white;
      font-size: 50px;
    }
    .selecting-appointment {
      position: relative;
      top: 70px;
      left: 0;
      width: 100%;
    }
    .services-repeat {
      display: flex;
      margin: 10px;
      position: relative;
      text-align: center;
      .b-name {
        position: relative;
        flex: 1;
      }
      .b-price {
        position: relative;
        flex: 1;
      }
      .b-select {
        flex: 1;
        position: relative;
      }
    }
  }
}
