.collapsible-body p {
  padding: 0rem;
}
.business-page-content-one {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.business-page-content-one .business-page-content-one-one {
  width: 725px;
  height: auto;
  padding-left: 10px;
}
.business-page-content-one .business-page-content-one-one .business-profile-name {
  position: relative;
  font-size: 36px;
  margin: 15px;
}
.business-page-content-one .business-page-content-one-one .business-picture {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}
.business-page-content-one .business-page-content-one-one .mini-pictures-business {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
}
.business-page-content-one .business-page-content-one-one .mini-pictures-business .mini-picture-business {
  flex: 1;
  margin: 10px;
  width: 200px;
  height: auto;
}
.business-page-content-one .business-page-content-one-one .business-info-header {
  width: 100%;
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  font-size: 35px;
}
.business-page-content-one .business-page-content-one-one .business-info {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}
.business-page-content-one .business-page-content-one-one .business-info .business-about {
  padding-top: 25px;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 150px;
}
.business-page-content-one .business-page-content-one-one .business-info .business-about .business-description {
  width: 80%;
  height: auto;
  position: relative;
}
.business-page-content-one .business-page-content-one-one .business-info .business-about .business-info-expandable {
  width: 100%;
  height: 75px;
  position: relative;
}
.business-page-content-one .business-page-content-one-one .leaflet-business {
  width: 100%;
  height: 300px;
  position: relative;
  top: 25px;
}
.business-page-content-one .business-page-content-one-one .get-directions {
  position: relative;
  left: 525px;
  top: 55px;
  margin-bottom: 10px;
}
.business-page-content-one .business-page-content-one-two {
  width: 465px;
  height: auto;
}
.business-page-content-one .business-page-content-one-two .selecting-appointment-header {
  position: relative;
  margin-top: 35px;
  top: 50px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 30px;
}
.business-page-content-one .business-page-content-one-two .selecting-appointment {
  position: relative;
  top: 42px;
  left: 0;
  width: 100%;
}
.business-page-content-one .business-page-content-one-two .services-repeat {
  display: flex;
  margin: 10px;
  position: relative;
  text-align: center;
}
.business-page-content-one .business-page-content-one-two .services-repeat .b-name {
  position: relative;
  flex: 1;
}
.business-page-content-one .business-page-content-one-two .services-repeat .b-price {
  position: relative;
  flex: 1;
}
.business-page-content-one .business-page-content-one-two .services-repeat .b-select {
  flex: 1;
  position: relative;
  padding-bottom: 15px;
}
.information-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
}
.information-body .information-body-one {
  width: 45%;
  height: auto;
}
.information-body .information-body-one .information-body-one p {
  padding: 0px;
}
.information-body .information-body-two {
  width: 45%;
  height: auto;
}
.information-body .information-body-two .information-body-two p {
  padding: 0px;
}
