html,
body {
  height: 100%;
  width: 100%;
  min-height: 100em;
}
.navBar {
  display: flex;
  flex-direction: row;
}
.navBarLogo {
  left: 2em;
}
.picker__weekday-display {
  background-color: grey;
}
.picker__date-display {
  background-color: black;
}
.picker__select--year.browser-default {
  width: 28%;
}
.picker__day.picker__day--today {
  color: burlywood;
}
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  background-color: black;
}
.picker__close,
.picker__today {
  color: grey;
}
.picker__close:active,
.picker__today:active {
  color: grey;
}
.searchBar {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: lightgrey;
}
.businessSelector {
  height: 100%;
}
.searchInput {
  height: 3em;
  width: 20em;
}
.searchButton {
  height: 3em;
  width: 10em;
  background: black;
  text-align: center;
  border-right: 1px solid grey;
  padding-top: 0.3em;
}
.datePicker {
  height: 3em;
  width: 10em;
  background: black;
  text-align: center;
  border-right: 1px solid grey;
  padding-left: 3em;
}
.homeSearchContainer {
  position: relative;
  left: 2em;
  bottom: 8em;
}
.popularContainer {
  position: relative;
  top: -12.5em;
}
.homePopularTitle {
  width: 81%;
  position: relative;
  top: 1em;
  left: 4em;
  border-bottom: .03em solid black;
  padding-bottom: 1em;
}
.homeBusCard {
  padding-top: 2em;
}
.search-bar-home-title {
  position: relative;
  left: 0.41em;
  bottom: 1.35em;
  text-shadow: .02em .02em white;
}
.search-bar-home {
  position: relative;
  left: 2em;
  bottom: 8em;
}
.parallax-container {
  height: 30em;
}
.modal-content {
  color: white;
  background: black;
}
.search-bar-search {
  position: relative;
  top: 25px;
  left: 9.65%;
}
.business-display-search {
  position: relative;
  top: 45px;
}
.business-info {
  position: relative;
  top: 0;
  height: 250px;
}
.business {
  position: absolute;
  width: 700px;
  height: 300px;
  left: 3%;
  top: 100px;
  display: inline-block;
}
.business .business-photo {
  position: relative;
  top: 0px;
  width: 300px;
  height: 300px;
}
.business .business-name {
  position: relative;
  left: 370px;
  top: -300px;
  font-size: 72px;
}
.business .business-category {
  position: relative;
  left: 375px;
  top: -300px;
  font-size: 25px;
}
.business .business-city {
  font-size: 22px;
  position: relative;
  left: 375px;
  top: -300px;
}
.business-about {
  width: 80%;
  height: 400px;
  position: relative;
  left: 10%;
  top: 100px;
}
.about-header {
  position: relative;
  top: 115px;
  left: 10%;
}
