.business-dash {
  height: auto;
}
.name-business-dash {
  position: relative;
  left: 1.5%;
  font-size: 60px;
}
.collapsible-body {
  color: black;
}
.collapsible-body input {
  width: 100%;
  position: relative;
  left: 0;
}
.collapsible-body .submit-button-business-dash {
  position: relative;
  left: 80%;
}
.business-dash-content-one {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.business-dash-content-one .business-dash-content-one-one {
  width: 600px;
  height: auto;
}
.business-dash-content-one .business-dash-content-one-one .pictureOverlay {
  position: relative;
}
.business-dash-content-one .business-dash-content-one-one .pictureOverlay .editText {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  font-size: 20px;
  font-weight: bold;
  color: gray;
}
.business-dash-content-one .business-dash-content-one-one .pictureOverlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: black;
}
.business-dash-content-one .business-dash-content-one-one .pictureOverlay:hover:after {
  opacity: 0.5;
}
.business-dash-content-one .business-dash-content-one-one .picture-business-dash {
  width: 100%;
  position: relative;
  top: 0;
}
.business-dash-content-one .business-dash-content-one-one .mini-pictures-business {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
}
.business-dash-content-one .business-dash-content-one-one .mini-pictures-business .mini-picture-business {
  flex: 1;
  margin: 10px;
  width: 200px;
  height: auto;
  display: inline-block;
}
.business-dash-content-one .business-dash-content-one-two {
  width: 600px;
  height: auto;
}
.business-dash-content-one .business-dash-content-one-two .collapsible-business-dash-header {
  position: relative;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  padding-top: 2px;
}
.business-dash-content-one .business-dash-content-one-two .collapsible-business-dash-header .edit-info-header {
  color: white;
  font-size: 22px;
}
.business-dash-content-one .business-dash-content-one-two .collapsible-business-dash {
  position: relative;
  top: 0;
  width: 100%;
}
.areYouSure-button {
  color: black;
  width: 25%;
  height: 25%;
  margin-left: 120px;
}
.areYouSure-header {
  text-align: center;
}
.editPicModal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
.editPicModal .pics img {
  vertical-align: top;
}

.yelp-button {
  position: absolute;
  top: 90px;
  right: 8%;
}
.yelp-button img {
  padding-top: 5px;
  width: 50px;
  height: auto;
}
.favorite-button {
  text-shadow: 2;
  position: absolute;
  top: 90px;
  right: 22%;
}
.collapsible-body p {
  padding: 0rem;
}
.business-page-content-one {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.business-page-content-one .business-page-content-one-one {
  width: 725px;
  height: auto;
  padding-left: 10px;
}
.business-page-content-one .business-page-content-one-one .business-profile-name {
  position: relative;
  font-size: 36px;
  margin: 15px;
}
.business-page-content-one .business-page-content-one-one .business-picture {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}
.business-page-content-one .business-page-content-one-one .mini-pictures-business {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
}
.business-page-content-one .business-page-content-one-one .mini-pictures-business .mini-picture-business {
  flex: 1;
  margin: 10px;
  width: 200px;
  height: auto;
  display: inline-block;
}
.business-page-content-one .business-page-content-one-one .business-info-header {
  width: 100%;
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  font-size: 35px;
}
.business-page-content-one .business-page-content-one-one .business-info {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}
.business-page-content-one .business-page-content-one-one .business-info .business-about {
  padding-top: 25px;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 150px;
}
.business-page-content-one .business-page-content-one-one .business-info .business-about .business-description {
  width: 80%;
  height: auto;
  position: relative;
}
.business-page-content-one .business-page-content-one-one .business-info .business-about .business-info-expandable {
  width: 100%;
  height: 75px;
  position: relative;
}
.business-page-content-one .business-page-content-one-one .leaflet-business {
  width: 100%;
  height: auto;
  min-height: 400px;
  position: relative;
  top: 25px;
}
.business-page-content-one .business-page-content-one-one .get-directions {
  position: relative;
  left: 525px;
  top: 55px;
  margin-bottom: 10px;
}
.business-page-content-one .business-page-content-one-two {
  width: 465px;
  height: auto;
}
.business-page-content-one .business-page-content-one-two .selecting-appointment-header {
  position: relative;
  margin-top: 35px;
  top: 50px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 30px;
}
.business-page-content-one .business-page-content-one-two .selecting-appointment {
  position: relative;
  top: 42px;
  left: 0;
  width: 100%;
}
.business-page-content-one .business-page-content-one-two .selecting-appointment .datepicker {
  width: 80%;
  position: relative;
  left: 10%;
}
.business-page-content-one .business-page-content-one-two .services-repeat {
  display: flex;
  margin: 10px;
  position: relative;
  text-align: center;
}
.business-page-content-one .business-page-content-one-two .services-repeat .b-name {
  position: relative;
  flex: 1;
}
.business-page-content-one .business-page-content-one-two .services-repeat .b-price {
  position: relative;
  flex: 1;
}
.business-page-content-one .business-page-content-one-two .services-repeat .b-select {
  flex: 1;
  position: relative;
  padding-bottom: 15px;
}
.information-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
}
.information-body .information-body-one {
  width: 45%;
  height: auto;
}
.information-body .information-body-one .information-body-one p {
  padding: 0px;
}
.information-body .information-body-two {
  width: 45%;
  height: auto;
}
.information-body .information-body-two .information-body-two p {
  padding: 0px;
}
.business-dash-button {
  position: relative;
  bottom: -35px;
  left: 45%;
}
.time-picker {
  width: 80%;
  position: relative;
  left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.are-you-sure {
  margin-top: 15px;
}
.yelp {
  margin-top: 90px;
}

.footerContainer {
  background-color: black;
  color: white;
  margin-top: -20px;
  margin-bottom: 0px;
  padding-bottom: 60px;
}
.footerContainer h5 {
  border-bottom: 1px solid white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-bottom: 5px;
  position: relative;
}
.footerContainer h5 i {
  margin-left: 10px;
  position: absolute;
  bottom: 6px;
}
.footerContainer ul {
  list-style: none;
}
.footerContainer ul li {
  margin-bottom: 10px;
}
.footerContainer ul li a {
  color: white;
}

::-webkit-scrollbar {
  display: none;
}
html,
body {
  height: 100%;
}
.navBar {
  display: flex;
  flex-direction: row;
  z-index: 999;
}
.navBarLogo {
  left: 2em;
}
.group-of-buttons {
  margin-top: 15px;
}
.picker__weekday-display {
  background-color: grey;
}
.picker__date-display {
  background-color: black;
}
.picker__select--year.browser-default {
  width: 28%;
}
.picker__day.picker__day--today {
  color: burlywood;
}
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  background-color: black;
}
.picker__close,
.picker__today {
  color: grey;
}
.picker__close:active,
.picker__today:active {
  color: grey;
}
.searchBar {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.businessSelector {
  height: 100%;
}
.searchInput {
  height: 3em;
  width: 20em;
}
.searchButton {
  height: 3em;
  width: 10em;
  background: black;
  text-align: center;
  border-right: 1px solid grey;
  padding-top: 0.3em;
}
.datePicker {
  height: 3em;
  width: 10em;
  background: black;
  text-align: center;
  border-right: 1px solid grey;
  padding-left: 3em;
}
.homeSearchContainer {
  position: relative;
  left: 2em;
  bottom: 8em;
}
.popularContainer {
  position: relative;
  top: -12.5em;
}
.homePopularTitle {
  width: 81%;
  position: relative;
  top: 1em;
  left: 4em;
  border-bottom: .03em solid black;
  padding-bottom: 1em;
}
.homeBusCard {
  padding-top: 2em;
}
.homeContainer {
  height: auto;
  width: 100%;
}
.homeMap {
  left: 5em;
}
.search-bar-home-title {
  position: relative;
  left: 0.41em;
  bottom: 1.35em;
  text-shadow: .02em .02em white;
}
.search-bar-home {
  position: relative;
  bottom: 8em;
  left: 2em;
}
#timeDropDown {
  position: absolute;
  top: 0em;
  left: 20em;
}
.parallax-container {
  height: 30em;
}
.modal-content {
  color: white;
  background: black;
}
.search-bar-search {
  position: relative;
  top: 25px;
  left: 9.65%;
}
.business-display-search {
  position: relative;
  margin-top: 55px;
  min-height: 100%;
}
.business-display-search div {
  margin-bottom: 20px;
  z-index: 5;
}
.image-for-business {
  width: 85%;
  height: 200px;
}
.business-card {
  height: 500px;
}
.business-info {
  position: relative;
  top: 0;
  height: 250px;
}
.business-picture {
  width: 100%;
  height: 200px;
  position: relative;
  top: 0;
}
.star-icons {
  margin-bottom: 0px;
}
.card-city {
  width: 100%;
  height: 25px;
}
.selecting-appointment {
  position: absolute;
  right: 3%;
  top: 200px;
  width: 55%;
}
.selecting-appointment-header {
  position: absolute;
  right: 3%;
  top: 100px;
  width: 55%;
  height: 75px;
  background-color: black;
  color: white;
  font-size: 50px;
}
.business-page-content-one {
  height: auto;
  margin-bottom: 100px;
}
.business-dash-content-one {
  height: auto;
  margin-bottom: 100px;
}
.business-info {
  width: 35%;
  height: auto;
  top: 75px;
  position: relative;
  left: 3%;
}
.business-info .business-info-header {
  width: 100%;
  height: 50px;
  position: relative;
  background-color: black;
  color: white;
  font-size: 35px;
}
.business-info .business-about {
  width: 100%;
  height: 100px;
}
.business-info .business-about .business-description {
  width: 80%;
  height: auto;
  position: relative;
  left: 10%;
  top: 25px;
}
.business-info .business-about .business-info-expandable {
  width: 100%;
  height: 75px;
  position: relative;
  top: -10px;
}
.select-wrapper,
input.select-dropdown {
  background: black;
  border-right: 1px solid #9e9e9e;
  text-align: center;
  color: white;
}
.dropdown-content {
  background: black;
  text-decoration-color: #9e9e9e;
}
.about-header {
  position: relative;
  top: 115px;
  left: 10%;
}
.user-pic {
  height: 40%;
  width: 40%;
  margin-top: 10px;
}
.user-firstName {
  margin-top: 10px;
}
.appointment-header {
  background-color: #6534ff;
  color: white;
  width: 50%;
  height: 50px;
  float: right;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  box-shadow: 5px 5px 5px #636363;
}
.app-box {
  height: 220px;
  width: 100%;
  border: 1px solid black ;
  font: Georgia, Garamond, Serif;
  overflow: auto;
  margin-top: 5px;
  box-shadow: 5px 5px 5px #636363;
  margin-top: 15px;
  background-color: white;
}
.cancel-button {
  float: right;
  margin-right: 10px;
}
.app-bus-name {
  text-align: center;
  font-size: 25px;
}
.app-size {
  font-size: 20px;
  margin-left: 10px;
}
.add-new-app {
  font-size: 30px;
}
label {
  color: red;
}
.big-o-calender {
  width: auto;
  height: auto;
}
.big-o-calender input {
  height: auto;
  color: black;
}
.big-o-calender title {
  color: black;
}
.big-o-calender md-button {
  margin: 10px;
  color: white;
}
.big-o-calender .time-date .buttons {
  background-color: black;
}
.big-o-calender .full-title {
  background-color: white;
}
.big-o-calender .control .full-title {
  background-color: #424242;
}
.big-o-calender .control .slider .date-control .title .month-part {
  color: black;
}
.the-calendar {
  margin-bottom: 50px;
}
