
html, body {
  height: 100%;
  width: 100%;
  min-height: 1000px;

}

.navBar {
  display: flex;
  flex-direction: row;
}

.homeSearchBar {
  height: 7%;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  left: 20px;
  bottom: 100px;
  border: 2px solid yellow;
  color: lightgrey;
  background: white;

}

.businessSelector {
  height: 100%;
}

.searchInput {
  height: 100px;
}

.search-bar-home {
  position: relative;
  top: 100px;
}

.parallax-container {
  height: 500px;
}
