::-webkit-scrollbar {
    display: none;
}

html, body {
  height: 100%;
  width: 100%;
  min-height: 100em;
  overflow-x: hidden;
}

.navBar {
  display: flex;
  flex-direction: row;
}

.navBarLogo {
  left: 2em;
}

.picker__weekday-display {
  background-color: grey;
}

.picker__date-display {
  background-color: black;
}

.picker__select--year.browser-default {
  width: 28%
}

.picker__day.picker__day--today {
  color: burlywood;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
  background-color: black;
}

.picker__close, .picker__today {
  color: grey;
}

.picker__close:active, .picker__today:active {
  color: grey;
}

.searchBar {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: lightgrey;
}

.businessSelector {
  height: 100%;
}

.searchInput {
  height: 3em;
  width: 20em;
}

.searchButton {
  height: 3em;
  width: 10em;
  background: black;
  text-align: center;
  border-right: 1px solid grey;
  padding-top: 0.3em;
}

.datePicker {
  height: 3em;
  width: 10em;
  background: black;
  text-align: center;
  border-right: 1px solid grey;
  padding-left: 3em;

}

.homeSearchContainer {
  position: relative;
  left: 2em;
  bottom: 8em;
}

.popularContainer {
  position: relative;
  top: -12.5em;
}

.homePopularTitle {
  width: 81%;
  position: relative;
  top: 1em;
  left: 4em;
  border-bottom: .03em solid black;
  padding-bottom: 1em;
}

.homeBusCard {
  padding-top: 2em;
}

.homeContainer {
  height: auto;
  width: 100%;

}

.homeMap {
  left: 5em;
}

.search-bar-home-title {
  position: relative;
  left: 0.41em;
  bottom: 1.35em;
  text-shadow: .02em .02em white;
}

.search-bar-home {
  position: relative;
  bottom: 8em;
  left: 2em;

}

#timeDropDown {
  position: absolute;
  top: 0em;
  left: 20em;
}

.parallax-container {
  height: 30em;
}

.modal-content {
  color: white;
  background: black;
}

.search-bar-search {
  position: relative;
  top: 25px;
  left: 9.65%;
}

.business-display-search {
  position: relative;
  top: 45px;
}
.business-info {
  position: relative;
  top: 0;
  height: 250px;
}

.business-picture {
  width: 35%;
  height: auto;
  position: relative;
  top: 35px;
  left: 3%;
}

.selecting-appointment {
  position: absolute;
  right: 3%;
  top: 200px;
  width: 55%;
}

.selecting-appointment-header {
  position: absolute;
  right: 3%;
  top: 100px;
  width: 55%;
  height: 75px;
  background-color: black;
  color: white;
  font-size: 50px;
}

.business-info {
  width: 35%;
  height: auto;
  top: 75px;
  position: relative;
  left: 3%;
    .business-info-header {
      width: 100%;
      height: 50px;
      position: relative;
      background-color: black;
      color: white;
      font-size: 35px;
    }
    .business-about {
      width: 100%;
      height: 100px;
      .business-description {
        width: 80%;
        height: auto;
        position: relative;
        left: 10%;
        top: 25px;
      }
    .business-info-expandable {
      width: 100%;
      height: 75px;
      position: relative;
      top: -10px;

    }
  }
}

.select-wrapper input.select-dropdown {
  background: black;
  border-right: 1px solid #9e9e9e;
  text-align: center;
  
}

.dropdown-content {
  background: black;
  text-decoration-color: #9e9e9e;
}
