<nav-template></nav-template>

<div class="row">
  <div class="col userWraper s12">
    <div class="userInfo">
      <img src="http://bible.soulsurvivor.com/sites/all/themes/ss_bible/images/anonymous-user-gravatar.png" />
    </div>
    <div class="row userInfo">
      <h4>{{user.name.first}} {{user.name.last}}</h3>
      <h4>{{user.displayName}}</h4>
    </div>
  </div>

  <div>
    <div>
      Email: {{user.email}}
    </div>
    <div>
      Phone: {{user.phone}}
    </div>
    <div>
      Address: {{user.address}}
    </div>
  </div>

  <div class="col appointments" ng-repeat="appointment in appointments">
    <div class="">
      <h4>{{appointment.business.businessName}}</h4>
      <div>
        Service: {{appointment.service}}
      </div>
      <div>
        Date: {{appointment.startTime | date: 'short'}}
      </div>
      <div>
        Appointment Length: {{appointment.timePeriod}}
      </div>
      <div>
        Note: {{appointment.note}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="s10 offset-s1 col">
      <div class="row">
        <div class="col s12 m6 l3" ng-repeat="b in businesses">
          <business-preview></business-preview>
        </div>
      </div>
    </div>
  </div>
</div>
